<div class="contact_name span-12">
<h1>
  <%= @marketing_contact.first_name %>
  <%= @marketing_contact.last_name %>
</h1>
  <%= @marketing_contact.company %>
</div>
<div class="contact_info span-12 last">
  
  <span class="important_info">
  <%= @marketing_contact.phone %><br />
  <%= mail_to "#{@marketing_contact.email}" %><br />
  </span>
  
  <b>Website:</b>
  <%= link_to @marketing_contact.website, url_with_protocol(@marketing_contact.website) %><br />
  
  <b>Facebook:</b>
  <%= link_to @marketing_contact.facebook, facebook_with_protocol(@marketing_contact.facebook) %><br />
  
  <b>Twitter:</b>
  <%= link_to @marketing_contact.twitter, twitter_with_protocol(@marketing_contact.twitter) %>
  
  </div>
  
<div class="contact_address">
  <%= @marketing_contact.street_address %>
  <%= @marketing_contact.city %>
  <%= @marketing_contact.state %>
  <%= @marketing_contact.zip %>
</div>


<div class="last_contact">
  <b>Last contact:</b>
  <%= @marketing_contact.last_contact.strftime("%B %e, %Y") %>
<br />
<br />
  <%= render 'note_form' %>
</div>

<br />
<br />
<%= link_to 'Edit', edit_marketing_contact_path(@marketing_contact) %> |
<%= link_to 'Back', marketing_contacts_path %>
