<!DOCTYPE html>
<html>
<head>
  <meta name='robots' content='noindex,nofollow' />
  <title>G > T Connect</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">    
  <div id="header">
    <div class="container">
      <div class="title">
        <%= link_to 'GT > Connect', root_path %>
        <%= button_link_to 'New contact', new_marketing_contact_path, :class => 'big' %>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="main_content span-24 last">
        <% flash.each do |key, value| %> 
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        
<%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
